<!--
    Copyright 2016 MasterCard International.

    Redistribution and use in source and binary forms, with or without modification, are
    permitted provided that the following conditions are met:

    Redistributions of source code must retain the above copyright notice, this list of
    conditions and the following disclaimer.
    Redistributions in binary form must reproduce the above copyright notice, this list of
    conditions and the following disclaimer in the documentation and/or other materials
    provided with the distribution.
    Neither the name of the MasterCard International Incorporated nor the names of its
    contributors may be used to endorse or promote products derived from this software
    without specific prior written permission.
    THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
    EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
    OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
    SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
    INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
    TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
    OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
    IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
    IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
    SUCH DAMAGE.
-->

<ion-view view-title="Transaction Details">
    <ion-content>
        <div class="list">
            <div class="item">
                <div class="item-container item-details">
                    <div class="item-label">Amount</div>
                    <div class="item-price-large">{{transaction.amt * -1 | tocurrency}}</div>
                </div>
            </div>
            <div class="item">
                <div class="item-container item-details">
                    <div class="item-label">Merchant</div>
                    <div>{{transaction.merchant || merchant.LegalCorporateName}}</div>
                </div>
            </div>
            <div class="item">
                <div class="item-container item-details">
                    <div class="item-label">Category</div>
                    <div>{{transaction.category}}</div>
                </div>
            </div>
            <div class="item">
                <div class="item-container item-details">
                    <div class="item-label">Phone Number</div>
                    <div>{{merchant.PhoneNumber}}</div>
                </div>
            </div>
            <div class="item">
                <div class="item-container item-details">
                    <div class="item-label">Address</div>
                    <div class="item-details-address">
                        <div>{{merchant.Address.Line1}}</div>
                        <div>{{merchant.Address.Line2}}</div>
                        <div>{{addressLine3}}</div>
                    </div>
                </div>
            </div>
            <div class="transaction-details-google-map">
                <ng-map center="[{{addressString}}]" class="transaction-details-google-map" zoom="17">
                    <custom-marker ng-repeat="markerAddress in markers" position="{{markerAddress}}">
                        <div class="google-map-marker">
                            <img ng-src="images/{{transaction.icon}}" />
                        </div>
                    </custom-marker>
                </ng-map>
            </div>
        </div>
    </ion-content>
</ion-view>