/*
 * Copyright 2016 MasterCard International.
 *
 * Redistribution and use in source and binary forms, with or without modification, are
 * permitted provided that the following conditions are met:
 *
 * Redistributions of source code must retain the above copyright notice, this list of
 * conditions and the following disclaimer.
 * Redistributions in binary form must reproduce the above copyright notice, this list of
 * conditions and the following disclaimer in the documentation and/or other materials
 * provided with the distribution.
 * Neither the name of the MasterCard International Incorporated nor the names of its
 * contributors may be used to endorse or promote products derived from this software
 * without specific prior written permission.
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY
 * EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES
 * OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT
 * SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED
 * TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
 * OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER
 * IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
 * IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
 * SUCH DAMAGE.
 *
 */

@import './plugins/flexboxMixin';
@import './plugins/includeMedia';

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.2rem;
  margin: 0;
  font-family: 'Helvetica', Arial, sans-serif;
  background-color: #E6EAEC;
}

.main-container {
  @extend %flexbox;
  @include flex-direction(column);
  @include align-items(center);
  width: 100%;

  .menu-icon {
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    left: 2rem;
    top: 2.5rem;
    cursor: pointer;
    display: none;
    background: url("./../images/menu.svg");

    @include media("<=tablet") {
      display: block;
    }
  }

  .menu-icon-close {
    @extend .menu-icon;
    width: 1.7rem;
    height: 1.7rem;
    background: url("./../images/close.svg");
  }

  header {
    background: white;
  }

  header.header-container {
    width: 100%;
    height: 7.2rem;
    @extend %flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    border-bottom: 1px solid #cccccc;

    @include media("<=tablet") {
      @include justify-content(center);
      height: 9rem;
    }

    .header-logo-title {
      @extend %flexbox;
      font-size: 2rem;
      margin-left: 3rem;

      @include media("<=tablet") {
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        margin-left: 0;
      }

      @include media("<=tablet-wide") {
        margin-left: 1.2rem;
      }

      @include media("<=phone") {
        font-size: 1.3rem;
      }

      .logo {
        margin-right: 1.5rem;

        @include media("<=tablet") {
          display: none;
        }

        img {
          width: 13.1rem;
          height: 3rem;
        }
      }

      .logo-mobile {
        display: none;

        @include media("<=tablet") {
          display: block;
        }
      }

      .title {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
        font-size: 2rem;
        font-family: 'FfMarkLight', 'Helvetica', Arial, sans-serif;

        @include media("<=tablet-wide") {
          font-size: 1.5rem;
        }

        @include media("<=phone") {
          font-size: 1.2rem;
        }
      }
    }

    .header-documentation {
      @extend %flexbox;
      @include flex-direction(row);
      margin-right: 3rem;

      @include media("<=tablet") {
        display: none;
      }

      @include media("<=tablet-wide") {
        margin-right: 1.2rem;
      }

      a {
        font-family: 'Helvetica', Arial, sans-serif;
        text-decoration: none;
        color: #FD9827;
        font-size: 1.4rem;
        line-height: 4rem;
      }

      .documentation-button {
        a {
          width: 21rem;
          height: 4rem;
          background-color: #fd9827;
          color: white;
          border-radius: 4px;
          display: inline-block;
          font-weight: bold;
          text-align: center;
          margin-left: 3rem;

          @include media("<=tablet-wide") {
            width: 17rem;
            margin-left: 1rem;
          }
        }
      }
    }
  }

  .content-container {

    .iframe-view {
      width: 50rem;
      height: calc(100vh - 20rem);
      margin-top: 6.3rem;
      margin-bottom: 6.3rem;
      border: 0;

      @include media("<=tablet") {
        width: 100vw;
        height: calc(100vh - 9rem);
        margin-bottom: 0;
        margin-top: 0;
      }
    }

    .iframe-view-no-header {
      height: calc(100vh - 4rem);
      margin-top: 2rem;
      margin-bottom: 2rem;

      @include media("<=tablet") {
        height: 100vh;
      }

      @include media("<=phone") {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .mobile-menu-overlay {
      @extend %flexbox;
      @include flex-direction(column);
      position: absolute;
      background: white;
      width: 100vw;
      height: calc(100vh - 9rem);
      padding: 2rem;

      a {
        display: inline-block;
        font-size: 2rem;
        font-family: 'FfMarkLight', 'Helvetica', Arial, sans-serif;
        color: #262626;
        text-decoration: none;
        line-height: 4.5rem;
      }
    }
  }

  .hide {
    display: none !important;
  }
}
